@charset "utf-8";

ul li {
    display: inline-block;
    background: #333;
    color: #fff;
}

.button {
    color: #fff;
    padding: 10px 30px;
    display: block;
    text-decoration: none;
}

.imgbox {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgbox li {
    background: none;
    width: 25%;
}

img {
    width: 100%;
}